body  
{  
    margin: 0;  
    padding: 0;  
    font-family: 'Arial';  
}  

.background-image{
    background-image: url("/images/wlu.jpeg");
    background-size: contain;
    width: 200px; 
    height: 100vh;
}
.login{  
        width: 300px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: #f17108;  
        border-radius: 15px ;  
          
}  

label{  
    color: #021d16;  
    font-size: 17px;  
}  

#title{
    color: #021d16;
    text-align: center;
}
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#signUp{  
    width: 310px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: rgb(0, 0, 7);  
  
  
}  

a{  
    float: right;  
    background-color: grey;  
}  



#alreadyUser {
    background-color: transparent;
}